body {
  font-family: 'Roboto', Arial, sans-serif;
  margin-top: 300px;
  background-image: url("wallpaperflare.com_wallpaper.jpg");
  color: #fff
}

.container {
  width: 300px;
  margin: 0 auto;
  margin-top: auto;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 5px;
}

label,
input {
  display: block;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #a11313;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  transition: width 1s;
  font-size: large;
}

input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #800b0b;
  width: 300px;

}